<div *ngIf="nft">

    <mat-card>
        <a *ngIf="swap" class="stretched-link" [routerLink]="['../../nft', nft.fa2Address, nft.tokenId]" style="text-decoration: none;"></a>
        <!-- <a *ngIf="!swap" class="stretched-link" [routerLink]="['../../nft', nft.fa2Address, nft.tokenId]" style="text-decoration: none;"></a> -->
        
        <mat-card-header>
            <mat-card-title>{{ nft.title }}</mat-card-title>
            <mat-card-subtitle>{{ nft.creator.name ? nft.creator.name : nft.creator.address }}</mat-card-subtitle>
        </mat-card-header>

         <img mat-card-image [src] = "nft.artifactUri | ipfs | safe" style="width:100%">
         <!-- <iframe [src] = "nft.metadata.artifactUri | safe"></iframe> -->
 
         <mat-card-content>
            <p>{{ nft.description }}</p>
         </mat-card-content>

         <br>

         <mat-card-content *ngIf="swap">
            <p>Swap issuer: {{ swap.creator }}</p>
            <p>Price: {{ swap.xtz_per_objkt / 1000000 }}</p>
            <p>Amount left: {{ swap.objkt_amount }}</p>
            <p>Royalties: {{ swap.royalties / 10 }}%</p>
         </mat-card-content>

         <mat-card-actions *ngIf="swap && swap.objkt_amount > 0">
            <button mat-button (click)="collect()">Collect</button>
            <!-- <button mat-button>SHARE</button> -->
         </mat-card-actions>

    </mat-card>

    <!-- <div *ngIf="nft.metadata.artifactUri">
        <iframe [src] = "nft.metadata.artifactUri | safe"></iframe>
    </div>

    <p>Contract address: {{ nft.contract.address }}</p>
    <p>Token id: {{ nft.tokenId }}</p>
    <p>Supply: {{ nft.totalSupply }}</p>
    <p>Title: {{ nft.metadata.name }}</p> -->

</div>
   
    
