<div class="row m-3 m-md-4 gx-sm-3">

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
        <div class="col pt-0 pb-4" *ngFor="let coop of coops">
            
            
                <mat-card>

                    <a class="stretched-link text-decoration-none" [routerLink]="['../coop', coop.address]"></a>

                    <p>Manager: {{ coop.manager }}</p>
                    <p>Coop share: {{ coop.coop_share / 10 }}%</p>
                    <div>
                        Members:  
                        <div *ngFor="let coopMember of coop.members">
                            {{ coopMember }}
                        </div>
                    </div>
                   
                </mat-card>
            
        </div>
    </div>
      
</div>
  