<p>Manager: {{ coop.manager }}</p>
<p>Coop share: {{ coop.coop_share / 10 }}%</p>
<div>
    Members: 
    <p *ngFor="let member of coop.members">
        {{ member }}
    </p>
</div>

<form [formGroup]="form" (ngSubmit)="addMember()">

    <div class="row m-3 m-md-4 justify-content-center">
  
      <div class="col-12 col-sm-6 col-md-7 col-lg-7 mb-3">
  
        <h3 class="mb-3">
          Add member
        </h3> 

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Member address</mat-label>
            <input matInput type="text" formControlName="member_address" required>
        </mat-form-field>
    
        <button
            mat-flat-button 
            color="primary" 
            type="submit"
            [disabled]="!form.valid">Add
        </button>
        
 
      </div>

  
    </div>
  
  </form>

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
    <div class="col pt-0 pb-4" *ngFor="let nft of coopNfts">
        <div *ngIf="nft.swap && nft.swap.objkt_amount > 0"></div>
        <app-nft-card [nft]="nft"></app-nft-card>
    </div>
</div>

